/* ProductDetails.css */
.product-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  .details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .location {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 20px;
    font-weight: bold;
    color: #e67e22;
  }
  
  .contact-button {
    margin-top: 20px;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contact-button:hover {
    background: #e65c00;
  }

  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .main-slider {
    width: 80%;
    margin-bottom: 10px;
  }
  
  .main-slide img {
    width: 100%;
    border-radius: 10px;
  }
  
  .thumbnail-slider {
    width: 60%;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thumbnail img:hover {
    border: 2px solid #ff6600;
  }
  